body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: antiquewhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  padding: 5px;
  height:85px;
  align-items: center;
  display: flex;
  color: white;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

#nav-img{
  margin: 0 5px 0 40px;
  height: 50px;
}

#heading1{
  font-size: 2rem;
  font-weight: 500;
}

#heading2{
  margin-left: auto;
  margin-right: 1rem;
  font-size: 1.25rem;
  font-weight: 400;
}

.meme{
  padding: 2rem 4rem;
  display:flex;
  flex-direction: column;
}

.input{
  display: flex;
  justify-content:center;
}

label{
  align-self: center;
  padding: 6px 8px;
  font-size: 1.5rem;
  background: linear-gradient(90deg, #a32d50 1.18%, #f0799b 100%);
  margin-left: 1rem;
  margin-right: 1rem;
  color: white;
  border-radius: 8px;
}

.box{
  margin: 3rem 3rem 3rem 1rem;
  width: 20rem;
  height: 2.75rem;
  border-radius: 7px;
  font-size: 1.5rem;
  /* Text indent to give indentation(gap from the box) */
  text-indent: 10px;
}

#btn{
  align-self: center;
}

.submit{
  width: 600px;
  height: 50px;
  background: linear-gradient(90deg, #a32d50 1.18%, #f0799b 100%);
  color:white;
  border-radius: 10px;box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  font-size: x-large;
  font-weight: 550;
  font-family: 'Poppins';
  cursor: pointer;
}



